/* ==== HEADER ==== */

header.nav {
    width: 100%;
    height: 60px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

#logo {
    height: 40px;
}

#perfilMini {
    height: 45px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: #0868A8;
    font-family: Inter, sans-serif;
    font-size: 15px;
    text-decoration: none;
}


/* ===== CONTENEDOR ===== */

.contenedor {
    max-width: 600px;
    margin: 120px auto;
    padding: 15px;
    text-align: center;
    font-family: Inter, sans-serif;
}

h1 {
    margin-bottom: 15px;
}

.descripcion,
.advertencia {
    font-size: 16px;
    margin-bottom: 20px;
}


/* ===== FORMULARIO ===== */

.input {
    width: 100%;
    height: 38px;
    margin: 8px 0;
    padding-left: 10px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 5px;
}

.error {
    font-size: 13px;
    color: red;
    display: block;
    height: 18px;
}



.btn {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 7px;
    border: 2px solid black;
    cursor: pointer;
}

.gris {
    background-color: #8a8989;
    color: white;
}

.rojo {
    background-color: #FF1212;
    color: white;
}



/* ===== MODAL ===== */

.modal.oculto {
    display: none;
}

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-contenido {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 85%;
    max-width: 350px;
    text-align: center;
}


/* ===== RESPONSIVE MENU ===== */

@media (max-width: 780px) {
    .menu {
        display: none;
    }
}
