#decision{

width: 560px;
height: 710px;
float: right;

}

#logo{

width: 50px;
height: 50px;
float: left;

}

#bienvenida{

    color: #f29723;
    font-family: "Inter", sans-serif;

    position: absolute;
    top: 150px;
    left: 250px;
}

#parrafo{

    color: rgb(58, 58, 58);
    font-family: "Inter", sans-serif;

    position: absolute;
    top: 515px;
    left: 300px;


}

.formulario{


    width: 315px;
    height: 40px;

    color: rgb(81, 80, 79);

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;

    border: 4px solid;
    border-radius: 3px;

    margin: 5px;

    padding-left: 10px;

}

#Email{
    position: absolute;
    top: 250px;
    left: 250px;
}

#Password{

    position: absolute;
    top: 340px;
    left: 250px;
}

#LogIn{

    font-weight: bold;
    position: absolute;
    top: 430px;
    left: 260px;
}