#decision{

    width: 560px;
    height: 710px;
    float: right;

}

#logo{

    width: 90px;
    height: 40px;
    float: left;

}

#bienvenida{

    color: #f29723;
    font-family: "Inter", sans-serif;

    position: absolute;
    top: 60px;
    left: 250px;
}

#parrafo{

    color: rgb(58, 58, 58);
    font-family: "Inter", sans-serif;

    position: absolute;
    top: 640px;
    left: 300px;

}

.formulario{


    width: 315px;
    height: 40px;

    color: rgb(81, 80, 79);

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;

    border: 4px solid;
    border-radius: 3px;

    margin: 5px;

    padding-left: 10px;

}

#Nombre{

    width: 135px;
    height: 40px;

    color: rgb(81, 80, 79);

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;

    border: 4px solid;
    border-radius: 3px;

    margin: 5px;

    padding-left: 10px;

    position: absolute;
    top: 150px;
    left: 250px;
}

#Apellidos{

    width: 135px;
    height: 40px;

    color: rgb(81, 80, 79);

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;

    border: 4px solid;
    border-radius: 3px;

    margin: 5px;

    padding-left: 10px;

    position: absolute;
    top: 150px;
    left: 430px;

}

/*se llevan 90*/
#FechaDeNacimiento{

    position: absolute;
    top: 240px;
    left: 250px;
}
#Email{

    position: absolute;
    top: 330px;
    left: 250px;
}

#Password{

    position: absolute;
    top: 420px;
    left: 250px;
}

#ConfirmPassword{
    position: absolute;
    top: 510px;
    left: 250px;
}
/* SUBMIT */

#SignIn{

    font-weight: bold;
    position: absolute;
    top: 600px;
    left: 260px;
    cursor: pointer;
}